.card[routerLink]:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.player-photo-large {
  transition: transform 0.3s ease;
}

.player-photo-large:hover {
  transform: scale(1.05);
}
